:root {
    --brand-color: #2196F3;
    --text-color: #757575;
    --header-color: #212121;
    --inversion-color: #ffffff;

  }

  body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
  }

  .logo {
    color: #000000;
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
  }

  .logo > span {
      color: #2196F3;  
  }

  .link {
    color: #212121;
    text-decoration: none;
    font-weight: 500;
  }

  .link:hover,
  .link:focus {
    color: #2196F3;
  }

  .contacts {
      color: #757575;
  }

  .hero {
      background-color: #2F303A;
  }
  
  .hero-title {
      color: #ffffff;
      text-transform: uppercase;
      font-size: 44px;
      font-weight: 900;
      line-height: 1.36;
  }

  .hero-button {
    color: #ffffff;
    background-color: #2196F3;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.875;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
  }

  .excellence h3 {
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
  }

  .excellence p {
      color: #757575;
      font-size: 14px;
      font-weight: 400;
      line-height: 1,714;
  }

  h2 {
      font-size: 36px;
      font-weight: 700;
  }

  .command {
      background-color: #F5F4FA;
  }

  .command h3 {
    font-size: 16px;
    font-weight: 500;
  }

  .command p {
      font-size: 16px;
      color: #757575;
      font-weight: 400;
  }

  footer {
    background-color: #2F303A;
  }

  footer .logo {
    color: #ffffff;
}

  footer p {
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
      line-height: 1,714;
  }

  footer .contacts {
    color: rgba(255, 255, 255, 0,6);
    font-size: 14px;
    font-weight: 400;
    line-height: 1,714;
}