:root {
    --brand-color: #2196F3;
    --text-color: #757575;
    --head-color: #212121;
    --inversion-color: #ffffff;
    --background-color: #2F303A;

  }

  body {
    font-family: 'Roboto', sans-serif;
    color: var(--head-color);
  }

  .logo {
    color: #000000;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.36;
    letter-spacing: 0.03em;
    text-decoration: none;
  }

  .logo > span {
      color: var(--brand-color);  
  }

  .link {
    color: var(--head-color);
    font-weight: 500;
    line-height: 1.143;
    letter-spacing: 0.02em;
    text-decoration: none;
  }

  .link:hover,
  .link:focus {
    color: var(--brand-color);
  }

  .contacts {
      color: var(--text-color);
  }

  .hero {
      background-color: var(--background-color);
  }
  
  .hero-title {
      color: var(--inversion-color);
      text-transform: uppercase;
      font-size: 44px;
      font-weight: 900;
      line-height: 1.36;
      letter-spacing: 0.06em;
  }

  .hero-button {
    color: var(--inversion-color);
    background-color: var(--brand-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
  }

  .excellence h3 {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.143;
      letter-spacing: 0.03em;
      text-transform: uppercase;
  }

  .excellence p {
    color: var(--text-color);
      font-weight: 400;
      font-size: 14px;
      line-height: 1,714;
      letter-spacing: 0.03em;
  }

  h2 {
      font-weight: 700;
      font-size: 36px;
      line-height: 1.166;
      letter-spacing: 0.03em;
  }

  .command {
      background-color: #F5F4FA;
  }

  .command h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.03em;
  }

  .command p {
      color: var(--text-color);
      font-weight: 400;
      font-size: 16px;
      line-height: 1.1875;
      letter-spacing: 0.03em;
  }

  footer {
    background-color: var(--background-color);
  }

  footer .logo {
    color: var(--inversion-color);
}

  .address {
      color: var(--inversion-color);
      font-weight: 400;
      font-size: 14px;
      line-height: 1,714;
      letter-spacing: 0.03em;
  }

  .contacts-futer {
      color: rgba(255, 255, 255, 0.6);
      font-weight: 400;
      font-size: 14px;
      line-height: 1,714;
      letter-spacing: 0.03em;
}