:root {
    --brand-color: #3f51b5;
  }

  body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
  }

  .logo {
    color: #000000;
    font-size: 26px;
    font-weight: 700;
  }

  .logo > span {
      color: #2196F3;  
  }

  .link {
    color: #212121;
  }

  .link:hover {
    color: #2196F3;
  }

  .hero {
      background-color: #2F303A;
  }
  
  .hero-title {
      color: #ffffff;
  }

  .hero-button {
      
  }


  /* .hero {
    color: var(--brand-color);
    text-align: center;
  } */

  a {
    text-decoration: none;
  }

